<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central Baptist Church Springdale Arkansas</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Central Baptist</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/contact">Contact</a></li>
                <li><a href="/services">Service Times</a></li>
                <li><a href="/archive">Sermons</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
{{ content }}
</main>
    <hr>
    <footer class="text-center bg-success">
        <p>Thank you for visiting. Brought to you by your neighbors at Central Baptist Missionary Baptist Church, Fayetteville, Arkansas.</p>
        <div class="row">
            <figure class="col-sm-6 col-sm-offset-3">
                <img src="/jon-tyson-195064.jpg" class="img-responsive" alt="">
                <figcaption>Good News Is Coming Photo by Jon Tyson on Unsplash</figcaption>
            </figure>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>
</body>
</html>